# MySQL Configuration for RxNorm data
MYSQL_HOME=/opt/homebrew/opt/mysql
RXNORM_USER=root
RXNORM_PASSWORD=<YOUR_PASSWORD_HERE>
RXNORM_DATABASE=RxNorm
RXNORM_HOST=localhost

# OpenFDA API Configuration
OPENFDA_BASE_URL="https://api.fda.gov/drug/label.json"

# Query extraction LLM configuration
QUERY_EXTRACTION_OPENAI_API_KEY=your_query_extraction_openai_key_here
QUERY_EXTRACTION_OPENAI_MODEL=your_query_extraction_model_here
